useDynLib(coxinterval)
import(Matrix, parallel, survival, timereg)
export("coxic",
       "coxic.control",
       "coxaalenic",
       "coxaalenic.control",
       "trans",
       "na.coxic")
S3method(print, coxinterval)
S3method(print, summary.coxinterval)
S3method(summary, coxinterval)
S3method(na.coxic, default)
